a
{
	text-decoration:none;
}
div.border
{
	margin-left:330px;
	width:1250;
	border: 0px solid;
	border-radius:10px;
	padding:5px;
	background-color:white;
	text-align:left;
}
div.border1
{
	margin-left:260px;
	width:1400;
	border: 0px solid;
	border-radius:10px;
	padding:5px;
	background-color:white;
	text-align:left;
}
div.bordernews
{
	margin-left:290px;
	margin-top:30px;
	width:800;
	border: 0px solid;
	border-radius:10px;
	padding:-50px;
	background-color:white;
	text-align:left;
}
div.borderweather
{
	margin-left:1120px;
	margin-top:-740px;
	width:480;
	height:734;
	border: 0px solid;
	border-radius:10px;
	padding:5px;
	background-color:white;
	text-align:left;
}
div.border2
{
	margin-left:260px;
	width:600;
	border: 0px solid;
	border-radius:10px;
	padding:5px;
	background-color:white;
	text-align:left;
}
div.border3
{
	margin-left:1058px;
	margin-top:-625px;
	height:616;
	width:600;
	border: 0px solid;
	border-radius:10px;
	padding:5px;
	background-color:white;
	text-align:left;
}
div.top-right
{
	position: absolute;
	top: 500px;
	margin-left: 830px;
}
p.music1,p.movie1
{
	margin-left:20px;
	border: 0px solid;
	border-radius:10px;
	padding:5px;
}
img
{
	border: 5px dotted #8c8cd9;
	border-radius:10px;
	padding:5px;
}
.image
{
	transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.image:hover
{
	transform: scale(1.1);
	box-shadow:1px 1px 15px 2px gray;
}